.DS_Store

Output_data_from_isochrone_scripts/
Output_data_from_urban_form_scripts/
Output_data_from_urban_form_multiyear_scripts/
Output_data_from_processing_scripts/
Output_data_from_model_selection_scripts/
Output_data_from_modeling_scripts/
Output_data_from_partial_dependence_plots_scripts/
Output_data_from_spatial_autocorr_check_scripts/

Open_datasets/tree-canopies-public-realm-2018-urban-forest.geojson
Open_datasets/street-lights-with-emitted-lux-level-council-owned-lights-only.geojson
Open_datasets/street-furniture-including-bollards-bicycle-rails-bins-drinking-fountains-horse-.geojson
Open_datasets/residential-dwellings.csv
Open_datasets/PTV_METRO_TRAM_STOP.shx
Open_datasets/PTV_METRO_TRAM_STOP.shp
Open_datasets/PTV_METRO_TRAM_STOP.dbf
Open_datasets/PTV_METRO_TRAM_STOP.prj
Open_datasets/PTV_METRO_TRAM_STOP.cpg
Open_datasets/PTV_METRO_BUS_STOP.shx
Open_datasets/PTV_METRO_BUS_STOP.shp
Open_datasets/PTV_METRO_BUS_STOP.dbf
Open_datasets/PTV_METRO_BUS_STOP.prj
Open_datasets/PTV_METRO_BUS_STOP.cpg
Open_datasets/pedestrian-counting-system-sensor-locations.csv
Open_datasets/Pedestrian_Counting_System_Monthly_counts_per_hour_may_2009_to_14_dec_2022.csv
Open_datasets/off-street-car-parks-with-capacity-and-type.geojson
Open_datasets/metro-train-stations-with-accessibility-information.geojson
Open_datasets/Melbourne_nodes_100m.geojson
Open_datasets/footpaths.geojson
Open_datasets/employment-by-block-by-space-use.csv
Open_datasets/buildings-with-name-age-size-accessibility-and-bicycle-facilities.geojson
Open_datasets/blocks-for-census-of-land-use-and-employment-clue.geojson
Open_datasets/2010.csv
Open_datasets/data_stream-oper_stepType_combined.csv

Output_data_from_QGIS/sensor_locations_urbanity_attribute_join_by_nearest_inQGIS.qmd

Archive/

*.Rhistory

cache/
catboost_info/